.home
{
    height: 90vh;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
}

.home .headerContent h1{
    color: rgb(159, 9, 9);
    font-size: 50px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home .headerContent p
{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media only screen and (max-width: 600px) {
    .home {
        justify-content: center;
        align-items: center;
    }
    .headerContent
    {
        margin-left: 0;
        border-radius: 10px;
        width:80%;
    }
}
